/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #353430;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --background-color: #FFF1F7;
  --shadow-color: #FF8DCB;
  --button-hover: rgba(50, 49, 45, 0.40);
  --section-title: #353430;
  --card-title: #353430;
  --decorated-color: #353430;
  --background-image: url(../images/cover-image-light.png);
}

.theme-light .header__decorative-text {
  display: none;
}

.theme-light .header__theme-menu-button_active,
.theme-light .header__theme-menu-button:disabled {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

/* Дублируем переменные для системной светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --background-color: #FFF1F7;
    --shadow-color: #FF8DCB;
    --button-hover: rgba(50, 49, 45, 0.40);
    --section-title: #353430;
    --card-title: #353430;
    --decorated-color: #353430;
    --background-image: url(../images/cover-image-light.png);
  }
  
  .header__decorative-text {
    display: none;
  }
}