.page {
  background-color: var(--background-color, #000028);
  background-image: var(--background-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  line-height: 1.3;
  color: var(--text-color, #F1B2CE);
}

.header {
  padding: 20px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color, #FF0070);
  border-block-start: 1px solid var(--accent-color, #FF0070);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color, #FF0070);
  border-block-end: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu {
  align-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  padding: 2px 13px;
  line-height: 1;
  cursor: pointer;
  color: var(--accent-color, #FF0070);
  font-size: 18px;
  transition: border 0.3s ease;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover, rgba(255, 0, 112, 0.40));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #FF0070);
  pointer-events: none;
}

.header__content {
  margin-block-start: 65px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.header__decorative-text {
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--accent-color, #FF0070);
  line-height: 1.38;
}

.header__decorative-text::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #FF0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
  margin-inline-start: 10px;
}

.header__title {
  color: var(--title-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--shadow-color, #FF0070);
  align-self: start;
  padding-bottom: 30px;
}

.header__text {
  margin-block-start: 35px;
  background-color: var(--accent-color, #FF0070);
  color: var(--card-title, #000028);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  max-inline-size: 491px;
  text-align: left;
  margin-bottom: 120px;
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--card-title, #000028);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.main {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--section-title, #FF0070);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  background-color: var(--accent-color, #FF0070);
  color: var(--card-title, #000028);
}

.card__subtitle {
  font-size: 18px;
  background-color: var(--accent-color, #FF0070);
  color: var(--card-title, #000028);
  font-weight: 700;
}

.card__text {
  line-height: 1.3;
}

.card__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

.card__text-link:hover {
  border-bottom: 1px solid currentColor;
}

.card__text-link:focus {
  outline: none;
}

.card__text-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery__title {
  font-size: 18px;
  background-color: var(--accent-color, #FF0070);
  color: var(--card-title, #000028);
}

.gallery__grid {
  display: grid;
  gap: 20px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  padding: 20px;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--title-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--shadow-color, #FF0070);
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }
  
  .header__content {
    margin-block-start: 173px;
  }
  
  .header__text {
    margin-block-start: 132px;
    max-inline-size: 364px;
  }
  
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
  
  .main {
    padding: 60px 20px;
    gap: 80px;
  }
  
  .section {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  
  .section__title {
    grid-row: 1 / -1;
  }
  
  .concentration {
    grid-template-columns: 1fr;
  }
  
  .concentration .section__title {
    grid-row: 1;
    max-width: 236px;
  }
  
  .concentration .section__content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .solutions .section__content {
    grid-column: 1 / -1;
  }
  
  .gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(100px, auto));
    gap: 20px;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: center;
    justify-self: start;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .header__content {
    margin-block-start: 173px;
    align-items: end;
  }
  
  .header__text {
    margin-block-start: 84px;
    max-inline-size: 491px;
  }
  
  .header__title {
    text-shadow: 4px 4px 0 var(--shadow-color, #FF0070);
    align-self: start;
  }
  
  .section {
    grid-template-columns: 1fr 2fr;
  }
  
  .reasons .section__content {
    grid-column: 2;
  }
  
  .concentration {
    grid-template-columns: 1fr;
  }
  
  .concentration .section__title {
    max-width: 315px;
  }
  
  .concentration .section__content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .solutions .section__content {
    grid-column: 1 / -1;
  }
  
  .solutions .card {
    margin-bottom: 20px;
  }
  
  .solutions .card:last-child {
    margin-bottom: 0;
  }
  
  .gallery__grid {
    grid-template-rows: repeat(3, minmax(100px, 260px));
    gap: 20px;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}