/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* CSS-переменные для тем - значения по умолчанию (тёмная тема) */
:root {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --shadow-color: #FF0070;
  --button-hover: rgba(255, 0, 112, 0.40);
  --section-title: #FF0070;
  --card-title: #000028;
  --decorated-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --rec-color: #FF0070;
}