/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* CSS-переменные для тем - значения по умолчанию (тёмная тема) */
:root {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --shadow-color: #FF0070;
  --button-hover: rgba(255, 0, 112, 0.40);
  --section-title: #FF0070;
  --card-title: #000028;
  --decorated-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
}

/* Светлая тема по предпочтениям системы */
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --background-color: #FFF1F7;
    --shadow-color: #FF8DCB;
    --button-hover: rgba(50, 49, 45, 0.40);
    --section-title: #353430;
    --card-title: #353430;
    --decorated-color: #353430;
    --background-image: url(../images/cover-image-light.png);
  }
}